{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}OnTap{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div id="header">
                <div id="logo">
                    <img src="{% static 'images/logo.png' %}" alt="OnTap Logo" class="img-fluid">  
                    <h1>OnTap</h1>   
                    <div>
                        {% if user.is_authenticated %}
                            Signed in as <strong>{{ user.username }}</strong>.
                        {% else %}
                            Not signed in. <a href="{% url 'register' %}">Register Here.</a>
                        {% endif %}
                    </div>  
                </div>
                <div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About OnTap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://apps.apple.com/au/app/ontap/id6741187685" class="nav-link">Download</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'demo' %}">Demo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'updates' %}">Updates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>© 2025 OnTap</p>
        </div>
    </body>
</html>
